@use './breakpoints' as breakpoint;

@mixin container {
    max-width: 1080px;
    padding: 0 1.2rem;
    margin: 0 auto;
}

@mixin md {
    @include breakpoint.breakpoint-up(md) {
        @content;
    }
}

@mixin lg {
    @include breakpoint.breakpoint-up(lg) {
        @content;
    }
}