@use '/src/assets/scss/variables' as var;   

.work_card {
    position: relative;
    width: 100%;
    aspect-ratio: 1; /* Square cards */
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--white);
    
    &__image {
        width: 100%;
        height: 100%;
        margin: 0;
        position: relative;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%);
        pointer-events: none;
    }

    &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1.5rem;
        background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.4) 100%);
        z-index: 2;
        
        h3 {
            color: var(--white);
            margin: 0;
            font-size: 1.25rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
        }
    }
}
