@use "../../assets/scss/mixins" as mixin;

.faq {
    padding-top: 6rem;
}

.faq_wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 2.2rem;
        color: aliceblue;
        margin-bottom: 2rem;
    }

    .faq_tab__wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 600px;
    }
}