@use '/src/assets/scss/mixins' as mixin;
.hero {
    height: 100vh;
    position: relative;

    figure {
        width: 100%;
        height: 100%;
        z-index: 1000;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(40%)
        }
    }
}

.hero_wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mixin.container;

    .hero_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: clamp(3rem, 2.709rem + 1.45vw, 3.8rem);
            color: aliceblue;
            max-width: 700px;
            text-align: center;
            margin-bottom: 12px;
        }

        p {
            font-size: 1.4rem;
            color: rgb(157, 157, 158);
            max-width: 500px;
            text-align: center;
            margin-bottom: 20px;
        }

        button {
            background-color: transparent;
            border: 1px solid aliceblue;
            border-radius: 30px;
            color: #ccc;
            font-size: 1.2rem;
            cursor: pointer;
            margin-bottom: 20px;
            text-transform: capitalize;
            font-weight: 500;

            
            a {
                padding: 10px 28px;
                display: block; 
                &:hover {
                    transform: scale(1.02);
                }
            }
        }

        span {
            font-size: 1rem;
            color: #ccc;
        }
    }
}