.faq_tab {
    background: #181717;
    border: 1px solid #181717;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 14px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;

    h1 {
        font-size: 1.6rem;
        line-height: 1.5;
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .answer_container p {
        font-size: 1.3rem;
        // max-width: 600px;
        width: 100%;
        text-align: left;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.arrowopen {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}  