@use '/src/assets/scss/mixins' as mixin;

.home_section {
    padding-top: 7rem;
}

.home_section__wrapper {
    @include mixin.container;

    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        line-height: 1;
        font-size: 2rem;
        border: 2px solid #eeebeb;
        max-width: 150px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 6rem;
        padding: 8px;
    }
}


//works
.works_card__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 0 1rem;
}

.view_all__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.view_all__btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    background-color: transparent;
    border: 1px solid #eeebeb;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 2px;
    transition: all 0.3s ease;

    &:hover {
        background-color: #ffffff;
        color: #000000;
    }
}


// about
.about_section {
    position: relative;
    width: 100%;
    height: 800px;
    // min-height: 200px;
    margin-top: 7rem;
    
    .about_section__wrapper {
        height: 100%;
        width: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        .about_section_content {
            position: absolute;
            top: 20%;
            width: 100%;

            h4 {
                color: #eeebeb;
                font-size: 2rem;
                max-width: 500px;
                margin: 0 auto;
                text-align: center;
                font-weight: 600;
            }

            a {
                @extend h4;
                display: block;
                font-size: 1.4rem;
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #939292;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}