@use "../../assets/scss/mixins" as mixin;

footer {
    padding-top: 6rem;
}

.footer_wrapper {
    @include mixin.container;
}

.footer_top__wrapper {
    border-bottom: 1px solid #3f3f3f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;

    h2 {
         text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        line-height: 1;
        font-size: 2rem;
        border: 2px solid #eeebeb;
        max-width: 250px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 4rem;
        padding: 8px;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 1.5rem;
        max-width: 300px;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        li {
            background-color: #eeebeb;
            padding: 1rem;

            a {
                text-decoration: none;

                svg {
                    font-size: 2.3rem;
                    color: #000;
                }
            }
        }
    }
}

.footer_bottom__wrapper {
   display: flex;
   width: 100%;
   padding: .3rem 0;
   justify-content: space-between;
   align-items: center;

   .footer_year {
      color: #ffffff;
      font-size: 1rem;
   }

   .creator {
      font-size: 1rem;
      color: #eeebeb;

      a {
        text-decoration: underline;
      }
   }

   ul {
      display: flex;
      list-style: none;
      display: flex;
      gap: 1rem;

      li {
        padding: 8px;

        a {
           text-decoration: none;

           svg {
              font-size: 1.2rem;
              color: #ffffff;
           }
        }
      }
   }
}